<div xmlns:schema="https://schema.org/" xmlns:foaf="http://xmlns.com/foaf/0.1/"
    about="https://orcid.org/0000-0001-9083-7442" typeOf="schema:Person">
    <span property="schema:name">Adrian Pohl</span> is interested in
    <span rel="foaf:interest" resource="http://www.wikidata.org/entity/Q466">the World Wide Web</span>, <span
        rel="foaf:interest" resource="http://www.wikidata.org/entity/Q28134421">Library Linked Data</span>, <span
        rel="foaf:interest" resource="http://www.wikidata.org/entity/Q341">free software</span>, <span
        rel="foaf:interest" resource="http://www.wikidata.org/entity/Q380962">cooperation</span> and <span
        rel="foaf:interest" resource="http://www.wikidata.org/entity/Q56298524">teaching in Higher Education</span>.
</div>